@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap');



  html {
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
  }

  @layer base {
	body {
	  @apply text-[#1f2937] tracking-wide bg-black bg-fixed bg-cover bg-center
	}
  
	h1, h2, h3, h4, h5, h6 {
	  @apply font-bold
	}
  
	h1 {
	  @apply text-4xl sm:text-5xl md:text-6xl
	}
  
	h2 {
	  @apply text-3xl sm:text-4xl
	}
	
	li {
	  @apply cursor-pointer
	}
  
	/*button {
	  @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
	}*/
  }

/* Hide the scrollbar track */
::-webkit-scrollbar {
	width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Define the scrollbar track */
  ::-webkit-scrollbar-track {
	background: transparent /* Background color of the scrollbar track */
  }
  
  /* Define the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
	background: #888; /* Background color of the scrollbar thumb */
	border-radius: 999px; /* Round the corners of the thumb */
  }
  
  /* On hover, make the thumb darker */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }

@media (max-width: 640px) {
	html {
		max-width: 100vw;
	}
}

.forms {
	width: 70%;
}

@media (max-width: 767px) {
	.forms {
		width: 90%;
	}
}

.forms label {
	font-size: 1.2rem;
}

.input,
textarea,
.btn {
	width: 100%;
	padding: 0.5em;
	border: none;
	font-size: 1.2rem;
	color: black;
}

input[type="text"],
input[type="email"],
textarea {
	margin: 0 0 1em;
	border: 1px solid #ccc;
	outline: none;
}

textarea {
	height: 6em;
}

input[type="submit"],
.btn {
	/*background: #4570f3;*/
	color: #fff;
	cursor: pointer;
}


label {
	color: white;
}

.contact {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.heading {
	/*margin-top: 50px;*/
	display: flex;
	/*font-family: "Montserrat", sans-serif;*/
	font-weight: 600;
	font-size: 36px;
	color: whitesmoke;
	text-decoration: none;
	justify-content: center;
}